In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [480]:
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv',
                    skiprows=1, encoding='euc-kr')
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
3,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
4,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76

In [481]:
cctv.drop(index=[0], inplace=True)
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
3,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
4,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76
5,광진구,"2,588",35,57,100,187,98,52,675,465,712,175,32

In [482]:
cctv.columns[1:]

Index(['총계', '2012년 이전', '2012년', '2013년', '2014년', '2015년', '2016년', '2017년',
       '2018년', '2019년', '2020년', '2021년'],
      dtype='object')

In [483]:
for column in cctv.columns[1:]:
    cctv[column] = cctv[column].str.replace(',','').astype(int)
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76
5,광진구,2588,35,57,100,187,98,52,675,465,712,175,32

In [484]:
cctv['최근증가율'] = cctv.iloc[:,1:8].sum(axis=1) / cctv.iloc[:,8:11].sum(axis=1) * 100
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,최근증가율
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43,829.859155
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289,339.868565
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0,429.885057
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76,336.893840
5,광진구,2588,35,57,100,187,98,52,675,465,712,175,32,168.304536

In [485]:
cctv2 = cctv[['구분','총계','최근증가율']]
cctv2.columns = ['구별','CCTV댓수','최근증가율']
cctv2.head()

    구별  CCTV댓수       최근증가율
1  종로구    1772  829.859155
2  중 구    2333  339.868565
3  용산구    2383  429.885057
4  성동구    3602  336.893840
5  광진구    2588  168.304536

In [486]:
cctv_result = cctv2.set_index('구별', inplace=True)
cctv_result.head()

AttributeError: 'NoneType' object has no attribute 'head'

In [ ]:
pop = pd.read_csv('서울시주민등록인구(구별)통계.txt', sep='\t', encoding='utf-8',header=0)
pop.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2021.2/4,합계,"4,405,638","9,795,426","4,756,178","5,039,248","9,565,990","4,649,442","4,916,548","229,436","106,736","122,700",2.17,"1,576,971"
3,2021.2/4,종로구,"73,525","155,106","75,009","80,097","146,029","70,985","75,044","9,077","4,024","5,053",1.99,"27,605"
4,2021.2/4,중구,"62,897","132,259","64,526","67,733","123,016","60,019","62,997","9,243","4,507","4,736",1.96,"23,980"

In [ ]:
pop.drop(index=[0,1,2], inplace=True)
pop.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
3,2021.2/4,종로구,"73,525","155,106","75,009","80,097","146,029","70,985","75,044","9,077","4,024","5,053",1.99,"27,605"
4,2021.2/4,중구,"62,897","132,259","64,526","67,733","123,016","60,019","62,997","9,243","4,507","4,736",1.96,"23,980"
5,2021.2/4,용산구,"111,650","240,665","116,858","123,807","226,378","108,948","117,430","14,287","7,910","6,377",2.03,"38,884"
6,2021.2/4,성동구,"134,542","295,767","143,927","151,840","289,162","141,042","148,120","6,605","2,885","3,720",2.15,"45,591"
7,2021.2/4,광진구,"166,957","355,306","170,624","184,682","342,481","165,233","177,248","12,825","5,391","7,434",2.05,"50,815"

In [ ]:
pop.columns[2:]

Index(['세대', '인구', '인구.1', '인구.2', '인구.3', '인구.4', '인구.5', '인구.6', '인구.7',
       '인구.8', '세대당인구', '65세이상고령자'],
      dtype='object')

In [ ]:
pop2 = pop[['자치구', '인구', '인구.6', '65세이상고령자']]
pop2.columns=['구별','인구수','외국인','고령자']
pop2.head()

    구별      인구수     외국인     고령자
3  종로구  155,106   9,077  27,605
4   중구  132,259   9,243  23,980
5  용산구  240,665  14,287  38,884
6  성동구  295,767   6,605  45,591
7  광진구  355,306  12,825  50,815

In [ ]:
for column in pop2.columns[1:]:
    pop2[column] = pop2[column].apply(lambda x: int(x.replace(',','')))
pop2.head()

    구별     인구수    외국인    고령자
3  종로구  155106   9077  27605
4   중구  132259   9243  23980
5  용산구  240665  14287  38884
6  성동구  295767   6605  45591
7  광진구  355306  12825  50815

In [ ]:
pop2['외국인비율'] = pop2['외국인'] / pop2['인구수'] * 100
pop2['고령자비율'] = pop2['고령자'] / pop2['인구수'] * 100
pop2.head()

    구별     인구수    외국인    고령자     외국인비율      고령자비율
3  종로구  155106   9077  27605  5.852127  17.797506
4   중구  132259   9243  23980  6.988560  18.131091
5  용산구  240665  14287  38884  5.936468  16.156899
6  성동구  295767   6605  45591  2.233177  15.414499
7  광진구  355306  12825  50815  3.609565  14.301757

In [ ]:
pop_result = pop.set_index('구별', inplace=True)
pop_result.head()

KeyError: "None of ['구별'] are in the columns"

In [ ]:
pd.merge(cctv2, pop2)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False